@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");


:root{

    --font-exo:"Exo", sans-serif;
    
    --color-blue-dark-001:#01326c;
    --color-blue-dark-002:#0066cb;
    --color-blue-medium:#47a1f7;
    --color-blue-light:#8cd3ff;
    --color-green:#248c35;

    --font-size-18pt:16px;
    --font-size-30pt:24px;
    --font-size-49pt:55px;

    --font-weight-regular:400;
    --font-weight-bold:700;


}

*{
    font-family: var(--font-exo);

   
    body{
        margin: 0;
        padding:0;
        box-sizing: border-box;
        width: 100vw;
        height:100vh;
    }
}


header{
    background-color: black;
    position:relative;
   z-index: 10;
   display: flex;
   flex-direction: row;
   width:100vw;
}


nav{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding:0.5em 0em;
    position:relative;
    z-index: 10;
    width: 90vw;
    
}
.logo{
    width:10%;
    border:1px solid yellow;
}
.logo>img{
    width: 8em;
}
.menu{
    width:70%;
    border:1px solid yellow;

}

.links{
    width: 20%;
    border:1px solid yellow;
}
.links>ul{

    display: flex;
    flex-direction: row;
    
}
.menu>ul{
    display: flex;
    flex-direction: row;
  justify-content: center;
  background-color: transparent;

}
.menu>ul>li{
    padding:0.5em 1em;
    background-color: transparent;
}
.menu>ul>li>a{
    text-decoration: none;
    color: var(--color-blue-dark-002);
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
}

.hero-video{
    
    display: flex;
    justify-content: center;
    border-color:2px solid yellow;
}

.hero-video>video{
    position: relative;
    top: -150px;
}